# Laravel & PHP
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.*
/.phpunit.result.cache
/Homestead.yaml
/Homestead.json
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# IDEs and editors
/.idea/
/.vscode/
.vscode/
.DS_Store

# Build / cache
/public/hot
/storage/logs/
/storage/framework/cache/data/
/bootstrap/cache/

# OS files
Thumbs.db
desktop.ini

# Logs
*.log

# Optional: ignore compiled assets if you build them locally
/public/assets/js/*.min.js
/public/assets/css/*.min.css

