#header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;

    .alignHeader {
        padding: 1rem 2rem;
        margin: 0 auto;
        width: 100rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-weight: 600;
            text-decoration: none;
            color: #333;
            margin-right: 1.5rem;
            font-size: 14px;

            &:hover {
                color: #FF7F00;
            }
        }

        img {
            max-height: 70px;
        }

        .options {
            display: flex;
            gap: 1rem;

            a {
                display: flex;
                font-size: 1rem;
                align-items: center;
                gap: 8px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .searchGroup {
            .searchInput {
                position: relative;
                display: flex;
                align-items: center;
                background: #ECF1F4;
                width: 500px;
                height: 40px;
                border-radius: 28px;
                transition: width 0.3s ease;
                padding: 0 18px 0 20px;

                input {
                    border: none;
                    background: transparent;
                    outline: none;
                    font-size: 1rem;
                    width: 100%;
                    height: 100%;
                    color: #333;
                }

                .searchIcon {
                    left: 10px;
                    pointer-events: none;
                }
            }
        }

        .imgIcon {
            display: flex;
            gap: 5px;
            align-items: center;

            p {
                margin-top: 4px;
            }
        }
    }

    a:last-of-type {
        margin-right: 0;
    }
}

