.banner {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ddd; // Cor de fundo padrão caso a imagem não carregue
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }
}

.teamSection {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .teamGroup {
        display: flex;
        justify-content: space-between;

        .team {
            border: 5px solid transparent;
            border-radius: 50%;
            display: flex;
            padding: 15px;
            background-color: #f9f9f9;
            width: 120px;
            height: 120px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            background: linear-gradient(#f9f9f9, #f9f9f9) padding-box,
            linear-gradient(45deg, #e83b06, orange) border-box;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
                background-color: #eaeaea;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}



