// Estilos para body e destaques
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.title {
    color: #333;
    font-size: 24px;
    border-bottom: 3px solid #FF7C00;
    display: inline-block;
    margin-bottom: 20px;
}

// Estilos para banner
.banner {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ddd; // Cor de fundo padrão caso a imagem não carregue
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }
}

// Estilos para seção de equipe
.teamSection {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .teamGroup {
        display: flex;
        justify-content: space-between;

        .team {
            border: 5px solid transparent;
            border-radius: 50%;
            display: flex;
            padding: 15px;
            background-color: #f9f9f9;
            width: 120px;
            height: 120px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            background: linear-gradient(#f9f9f9, #f9f9f9) padding-box,
            linear-gradient(45deg, #ff4e1a, #FF7C00) border-box;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
                background-color: #eaeaea;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}

.destaques {
    padding: 20px 0;

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .card {
        background-color: #F7F7F7;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }

        .cardContent {
            padding: 20px;

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 8px; // Aplica o border-radius diretamente
                margin: 0; // Garante que não há margem adicional
            }
        }

        .info {
            padding: 15px;

            h3 {
                font-size: 18px;
                margin: 0 0 10px;
                color: #333;
            }

            .price {
                font-size: 16px;
                color: #FF7C00;
                font-weight: bold;
            }

            .old-price {
                text-decoration: line-through;
                color: #aaa;
                margin-left: 10px;
                font-size: 14px;
            }
        }

        .badge {
            position: absolute;
            background: #FF7C00;
            color: white;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 8px 0;
        }

        .free-shipping {
            background: #FF7C00;
            color: white;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 12px;
            margin-top: 10px;
        }

        .stars {
            color: #f5c518;
            font-size: 14px;
            margin-top: 5px;
        }
    }
}

.optionsProduct {
    padding: 20px 0;

    .alignOptions {
        display: flex;
        justify-content: space-between;

        .option {
            overflow: hidden; /* Garante que o efeito não ultrapasse a área */
            display: inline-block;

            img {
                max-width: 475px;
                width: 100%;
                transition: transform 0.3s ease-in-out; /* Efeito suave */
            }

            &:hover img {
                transform: scale(1.1); /* Aumenta levemente o tamanho */
            }
        }
    }
}


.promotions {
    padding: 20px 0;

    .alignBanner {
        display: flex;
        justify-content: center;
    }

    img {
        width: 100%;
        border-radius: 16px;
        height: 411px;
    }
}

.safePurchase {
    padding: 20px 0;

    .features-grid {
        display: flex;
        justify-content: space-between;

        .feature-card {
            display: flex;
            align-items: center;
            gap: 14px;
            max-width: 350px;
            width: 100%;

            .featureGroup {

                p {
                    font-size: 16px;
                    font-weight: 600;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }
}

.reviews {
    padding: 20px 0;

    .reviews-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        margin-top: 20px;
    }

    .review-card {
        cursor: pointer;
        background-color: #fff;
        border: 2px solid #FF7C00; // Borda laranja para destaque
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Sombra mais destacada
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;

        &:hover {
            transform: translateY(-8px);
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); // Sombra maior ao hover
        }

        // Linha laranja na parte inferior
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #FF7C00;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        .message {
            font-size: 16px;
            color: #555;
            margin-bottom: 15px;
            line-height: 1.5;
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .author {
                font-size: 14px;
                color: #333;
                font-weight: bold;
            }

            .date {
                font-size: 14px;
                color: #888;
                font-style: italic;
            }
        }

        .stars {
            font-size: 16px;
            color: #FFD700;
            text-align: right;
            margin-top: 10px;
        }
    }
}



