* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

/* Melhorando a largura da seção para telas menores */
.alignSection {
    margin: 0 auto;
    padding: 0rem 2rem;
    max-width: 100rem;
    width: 100%;
}

/* Links com transição suave */
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #007BFF;
        text-decoration: underline;
    }
}

/* Ajustes para dispositivos menores */
@media (max-width: 1200px) {
    .alignSection {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .alignSection {
        padding: 1rem;
        max-width: 100%;
    }
}

.breadcrumb {
    list-style: none;
    display: flex;
    padding: 10px 0;
    border-radius: 5px;

    li {
        margin-right: 10px;
        font-size: 14px;
        &:not(:last-child)::after {
            content: "/";
            margin-left: 10px;
            color: #6c757d;
        }

        a {
            text-decoration: none;
            color: #686868;

            &:hover {
                text-decoration: underline;
            }
        }

        &.active {
            font-weight: bold;
            color: #495057;
        }
    }
}
