* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    background-color: #ffffff;
}

.alignSection{
    margin: 0 auto;
    padding: 1rem 2rem;
    width: 100rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;

    &:hover {
        color: #007BFF;
    }
}
