#header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}
#header .alignHeader {
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .alignHeader a {
  font-weight: 600;
  text-decoration: none;
  color: #333;
  margin-right: 1.5rem;
  font-size: 14px;
}
#header .alignHeader a:hover {
  color: #FF7F00;
}
#header .alignHeader img {
  max-height: 70px;
}
#header .alignHeader .options {
  display: flex;
  gap: 1rem;
}
#header .alignHeader .options a {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 8px;
}
#header .alignHeader .options a:hover {
  text-decoration: underline;
}
#header .alignHeader .searchGroup .searchInput {
  position: relative;
  display: flex;
  align-items: center;
  background: #ECF1F4;
  width: 500px;
  height: 40px;
  border-radius: 28px;
  transition: width 0.3s ease;
  padding: 0 18px 0 20px;
}
#header .alignHeader .searchGroup .searchInput input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  color: #333;
}
#header .alignHeader .searchGroup .searchInput .searchIcon {
  left: 10px;
  pointer-events: none;
}
#header .alignHeader .imgIcon {
  display: flex;
  gap: 5px;
  align-items: center;
}
#header .alignHeader .imgIcon p {
  margin-top: 4px;
}
#header a:last-of-type {
  margin-right: 0;
}
