.banner {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ddd;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.banner .banner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.banner .banner-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.teamSection {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.teamSection .teamGroup {
  display: flex;
  justify-content: space-between;
}
.teamSection .teamGroup .team {
  border: 5px solid transparent;
  border-radius: 50%;
  display: flex;
  padding: 15px;
  background-color: #f9f9f9;
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#f9f9f9, #f9f9f9) padding-box, linear-gradient(45deg, #e83b06, orange) border-box;
}
.teamSection .teamGroup .team:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #eaeaea;
}
.teamSection .teamGroup .team img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
