@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.title {
  color: #333;
  font-size: 24px;
  border-bottom: 3px solid #FF7C00;
  display: inline-block;
  margin-bottom: 20px;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ddd;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.banner .banner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.banner .banner-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.teamSection {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.teamSection .teamGroup {
  display: flex;
  justify-content: space-between;
}
.teamSection .teamGroup .team {
  border: 5px solid transparent;
  border-radius: 50%;
  display: flex;
  padding: 15px;
  background-color: #f9f9f9;
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#f9f9f9, #f9f9f9) padding-box, linear-gradient(45deg, #ff4e1a, #FF7C00) border-box;
}
.teamSection .teamGroup .team:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #eaeaea;
}
.teamSection .teamGroup .team img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.destaques {
  padding: 20px 0;
}
.destaques .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.destaques .card {
  background-color: #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.destaques .card:hover {
  transform: translateY(-5px);
}
.destaques .card .cardContent {
  padding: 20px;
}
.destaques .card .cardContent img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin: 0;
}
.destaques .card .info {
  padding: 15px;
}
.destaques .card .info h3 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #333;
}
.destaques .card .info .price {
  font-size: 16px;
  color: #FF7C00;
  font-weight: bold;
}
.destaques .card .info .old-price {
  text-decoration: line-through;
  color: #aaa;
  margin-left: 10px;
  font-size: 14px;
}
.destaques .card .badge {
  position: absolute;
  background: #FF7C00;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 8px 0;
}
.destaques .card .free-shipping {
  background: #FF7C00;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 10px;
}
.destaques .card .stars {
  color: #f5c518;
  font-size: 14px;
  margin-top: 5px;
}

.optionsProduct {
  padding: 20px 0;
}
.optionsProduct .alignOptions {
  display: flex;
  justify-content: space-between;
}
.optionsProduct .alignOptions .option {
  overflow: hidden; /* Garante que o efeito não ultrapasse a área */
  display: inline-block;
}
.optionsProduct .alignOptions .option img {
  max-width: 475px;
  width: 100%;
  transition: transform 0.3s ease-in-out; /* Efeito suave */
}
.optionsProduct .alignOptions .option:hover img {
  transform: scale(1.1); /* Aumenta levemente o tamanho */
}

.promotions {
  padding: 20px 0;
}
.promotions .alignBanner {
  display: flex;
  justify-content: center;
}
.promotions img {
  width: 100%;
  border-radius: 16px;
  height: 411px;
}

.safePurchase {
  padding: 20px 0;
}
.safePurchase .features-grid {
  display: flex;
  justify-content: space-between;
}
.safePurchase .features-grid .feature-card {
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 350px;
  width: 100%;
}
.safePurchase .features-grid .feature-card .featureGroup p {
  font-size: 16px;
  font-weight: 600;
}
.safePurchase .features-grid .feature-card .featureGroup span {
  font-size: 14px;
}

.reviews {
  padding: 20px 0;
}
.reviews .reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.reviews .review-card {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #FF7C00;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
.reviews .review-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.reviews .review-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #FF7C00;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.reviews .review-card .message {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}
.reviews .review-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews .review-card .info .author {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.reviews .review-card .info .date {
  font-size: 14px;
  color: #888;
  font-style: italic;
}
.reviews .review-card .stars {
  font-size: 16px;
  color: #FFD700;
  text-align: right;
  margin-top: 10px;
}
